<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="destina">
                    Selectionner le destinataire
                </label>

                <select id="destina" class="form-control" name ="destina" [ngModel]="dest" required >
                    <option value="764125780">Ali</option>
                    <option value="778692808">Abou</option>
                </select>
            </div>

            <div class="form-group">
                <label for="msg">
                    Entrez le message
                </label>
                <input type="text" id="msg" class="form-control" name ="msg" ngModel >
            </div>
<p></p>
            <p></p>
            <div style="margin-top:50px ">
            <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Envoyer</button>
                </div>
            <mat-dialog-actions>
                <div style="margin-left:130px">
                <button class="btn btn btn-danger" type="submit" color="warn" mat-button mat-dialog-close><h5>Annuler</h5></button>
            </div>
            </mat-dialog-actions>

        </form>
    </div>
</div>



